/* VARIABLES DE TAMAÑO FUENTE */

$fs-400: 1rem;
$fs-600: 1.5rem;
$fs-700: 2rem;

/* VARIABLES DE COLOR */
$color-fondo: #0a0808;
$color-texto: #fdfdfd;

/* VARIABLES DE FUENTES */

$font-principal: 'Space Grotesk', sans-serif;